@layout.app({ title: 'oi' })

@slot('main')
<div></div>
  <h1>Produto</h1>
</div>
<div>
  <span>
    {{ product.name }}
  </span>
  <span>
    {{ product.price }}
  </span>
  <span>
    {{ product.description }}
  </span>

  @each(image in product.images)
    <img src="{{ route('images.show', { name: image.name })}}" />
  @end
</div>
@end

@end
